<h1>Ask your coach anything</h1>
<form action="/answer" method="get">
  <input type="text" name="question" class="question" placeholder="Please enter a question">
  <input type="submit" class="submit" value="Ask!">
</form>

